<% include ./partials/header%>
<% include ./partials/navbar%>



<h1>Rooms:</h1>
<h2><a href="/rooms/add/">Add Rooms</a></h2>
<input type="hidden" id="name-user" value="<%=user.username%>">
<input type="hidden" id="name-image" value="<%=user.thumbnail%>">
<%rooms.forEach(function(room){%>
<form action="/rooms/" method="POST" id="member">
	<div class="col-md-3 col-sm-6 ">
				<div class="card">
				<a href="/rooms/<%=room.roomName%>" ><img src="<%=room.image%>" class="card-img-top"></a>
				<div class="card-body">
				<h5 class="card-title text-center"><%=room.roomName%>(<%=room.members.length%>)</h5>
				<h4 class="text-center"><%=room.language%></h4>
				<a href="/rooms/<%=room.roomName%>" class="btn btn-primary">Chat</a>
				<input type="hidden" name="id" id="id" value="<%=room._id%>">
				<input type="hidden" name="roomName" id="roomName" value="<%=room.roomName%>">
				<a href="/rooms/<%=room.roomName%>"><button class="btn btn-primary">Join as Member</button></a>
				
				</div>
			</div>
				
				
				
	</div>
	</form>
<%});%>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="/js/room/rooms.js"></script>
<script src="/js/global.js"></script>
<% include ./partials/footer%>